:root {
    --base-color: white;
    --primary-color: #13858d;
    --secondary-color: #ff64ea94;
    --gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --background-color: #024950;
    --border-radius: 5px;
    --transition: 0.3s;
    --radius: 25px;
    --aero-background-color: rgba(255, 255, 255, 0.05); /* semi-transparent white */
    --aero-box-shadow: 0 10px 30px 0 rgba(31, 38, 135, 0.37); /* shadow for glossy effect */
    --aero-backdrop-filter: blur(0px); /* blur the background behind the card */
    --aero-border: 1px solid rgba(255, 255, 255, 0.18); /* border for glossy effect */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--gradient);
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.card {
    width: 100%;
    max-width: 400px;
    border-radius: var(--radius);
    border: var(--aero-border);
    background-color: var(--aero-background-color);
    box-shadow: var(--aero-box-shadow);
}
.card-title {
    text-align: center;
    font-size: 3rem;
}
.text-center, .button-container {
    margin-top: var(--radius);
}
.button-container {
    padding-top: 10px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: var(--radius);
    border: 0px;
}
.form-control.select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: var(--radius);
    border: 0px;
}
.gloss {
    width: 100%;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.gloss:hover {
    cursor: pointer;
    backdrop-filter: blur(4px);
}
.button-gloss {
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    border-radius: var(--radius);
    border: var(--aero-border);
    background-color: var(--aero-background-color);
    box-shadow: var(--aero-box-shadow);
    color: white;
}
.button-gloss:hover {
    cursor: pointer;
    backdrop-filter: blur(4px);
    /* FIX BLUR ON HOVER */
}
button:focus, select:focus {
    outline: none;
}
a {
    color: white;
}